img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

body {
  background-image: url('https://operisstorage.s3.us-east-2.amazonaws.com/Justi+Background+zdje%CC%A8cie-29.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
